.add_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding-bottom: 20px;
    width: 40%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.add_banner input{
    width: 70%;
    margin: 5px 0;
}

.add_banner input:nth-child(1){
    padding: 0 10px;
    background: red;
}

.icon {
    font-size: 18px;
    margin: 10px 0;
    padding-left: 10px;
}

.fa-plus-circle {
    color: green;
    cursor: pointer;
}

.content {
    min-height: calc(50vh - 123px) !important;
    padding: 21px !important;
}

.content:nth-child(2) {
    color: red !important;
}

.card {
    margin: 0 !important;
}

form {
    padding: 0px 15px;
}

.card-footer {
    padding-left: 0 !important;
}

.remove i {
    cursor: pointer;
}

.status {
    padding-left: 15px;
}

.remove {
    font-size: 20px;
    color: red;
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.send {
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 2px 10px;
    transition: 0.4s;
}

.send:enabled:hover {
    background: #ddd;
}